/*VARIABLES*/
/*color*/
$green: rgb(20, 182, 79);

$first-color: rgb(59, 191, 103);
$title-color: rgb(18, 59, 31);
$text-color: rgb(79, 100, 86);
$text-color-light: rgb(155, 176, 162);
$white-color: rgb(255, 255, 255);
$body-color: rgb(236, 243, 238);

$dark-title-color: rgb(241, 244, 242);
$dark-text-color: rgb(184, 199, 192);
$dark-body-color: rgb(37, 45, 41);
/*color*/

/*Fonts*/
$font: 'Poppins', Arial, Helvetica, sans-serif;

$biggest-font: 48px;
$small-font: 13px;
$smaller-font: 12px;
$tiny-font: 10px;

$font-medium: 500;
/*Fonts*/
/*VARIABLES*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.dark-theme {
  background-color: $dark-body-color;
  color: $dark-text-color;
  .clock {
    &__dot {
      border: 2px solid $dark-body-color;
    }
    &__hours {
      &::before {
        background-color: $dark-text-color;
      }
    }

    &__minutes {
      &::before {
        background-color: $dark-text-color;
      }
    }
    .text {
      &__hours,
      &__dots,
      &__minutes {
        color: $dark-title-color;
      }
    }
  }
}

.dark-theme .clock__circle{
  box-shadow: 6px 6px 16px rgba(28, 33, 31, 1),
  -6px -6px 16px rgba(47, 55, 52, 1),
  inset -6px -6px 16px rgba(47, 55, 52, 1),
  inset 6px 6px 12px rgba(28, 33, 31, 1);
}

.dark-theme .button__theme{
  box-shadow: inset -1px -1px 1px rgba(47, 55, 52, 1),
  inset 1px 1px 1px rgba(28, 33, 31, 1);
}

.button__theme {
  position: absolute;
  top: -40px;
  right: -80px;
  display: flex;
  padding: 5px;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 1),
  inset 1px 1px 1px rgba(209, 230, 221, 1);
  color: $first-color;
  cursor: pointer;
  transition: .2s all;
}

body {
  margin: 0;
  font-family: $font;
  background-color: $body-color;
  color: $text-color;
  transition: .2s all;
}

a {
  text-decoration: none;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {

  &__container {
    height: 100vh;
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    margin-right: 15px;
    margin-left: 15px;
  }

  &__content {
    flex-direction: column;
    position: relative;
  }
  
  &__circle {
    transition: .2s all;
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: -6px -6px 16px $white-color,
                6px 6px 16px rgba(209, 230, 216, 1),
                inset 6px 6px 16px rgba(209, 230, 216, 1),
                inset -6px -6px 16px $white-color;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__twelve,
  &__three,
  &__six,
  &__nine {
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: $text-color-light;
  }

  &__twelve,
  &__six {
    transform: translateX(-50%) rotate(90deg);
  }

  &__twelve {
    top: 20px;
    left: 50%;
  }

  &__three {
    top: 50%;
    right: 10px;
  }

  &__six {
    bottom: 20px;
    left: 50%;
  }

  &__nine {
    top: 50%;
    left: 10px;
  }

  &__dot {
    width: 10px;
    height: 10px;
    background-color: $first-color;
    border-radius: 50%;
    border: 2px solid $body-color;
    z-index: 2;
    transition: .2s all;
  }

  &__hours,
  &__minutes,
  &__seconds {
    position: absolute;
    display: flex;
    justify-content: center;
    //transition: .2s all;
  }

  &__hours {
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      background-color: $text-color;
      width: 3px;
      height: 46px;
      border-radius: 6px;
      z-index: 1;
      transition: .2s all;
    }
  }

  &__minutes {
    width: 136px;
    height: 136px;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      background-color: $text-color;
      width: 3px;
      height: 65px;
      border-radius: 6px;
      z-index: 1;
      transition: .2s all;
    }
  }

  &__seconds {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      background-color: $first-color;
      width: 2px;
      height: 76px;
      border-radius: 6px;
      z-index: 1;
      transition: .2s all;
    }
  }

  .text {
    display: flex;
    justify-content: center;

    &__hours,
    &__dots,
    &__minutes {
      font-size: $biggest-font;
      color: $title-color;
      font-weight: $font-medium;
      transition: .2s all;
    }

    &__dots.off {
      opacity: 0;
      transition: 0.2s all;
    }
  }
}

